<div class="row" ng-repeat="rowComponents in vm.testComponents">

  <div class="col col-33" ng-repeat="c in rowComponents">

    <ce-test-base ng-style="{visibility:c.visibility}"
                       title="c.title"
                       droppable="c.droppable">

      <ce-card ng-if="c.card"
               id={{c.card.id}}
               content="c.card.content"
               class="ce-card"
               ce-draggable
               ng-style="{'background-color':c.card.color}"></ce-card>


    </ce-test-base>
  </div>
</div>

