<md-list>

  <md-subheader class="md-no-sticky">Quiz Settings</md-subheader>

  <md-list-item layout>
    <md-button menu-close
               flex ng-disabled="true">
      <span class="ce-menu-button-text">Quiz Info</span>

    </md-button>
  </md-list-item>


  <div ng-repeat="question in vm.questions">

    <md-subheader class="md-no-sticky">{{question.name}}</md-subheader>
    <md-divider></md-divider>

    <div ng-repeat="stage in question.stages">


      <md-list-item layout
                    ng-if="stage.name === 'exploration stage'">
        <md-button flex>
            <span class="ce-menu-button-text"
                  ui-sref="{{stage.link}}"
                  menu-close>
              {{stage.name}}
            </span>
        </md-button>
      </md-list-item>


      <md-list-item layout
                    ng-class="{'ce-list-item-active':vm.isStageShown(stage)}"
                    ng-if="stage.name !== 'exploration stage'">
        <md-button flex>
            <span class="ce-menu-button-text"
                  ng-click="vm.toggleStage(stage)">
              {{stage.name}}
            </span>
        </md-button>
      </md-list-item>

      <md-divider></md-divider>

      <md-list-item layout
                    ng-repeat="subStage in stage.subStages"
                    ng-if="stage.name !== 'exploration stage'"
                    ng-show="vm.isStageShown(stage)">
        <md-button flex
                   menu-close
                   ui-sref="{{subStage.link}}">
          <span class="ce-menu-button-text ce-menu-button-text-right">{{subStage.name}}</span>
        </md-button>
      </md-list-item>

      <md-divider></md-divider>

    </div>
  </div>

  <md-list-item layout>
    <md-button flex
               menu-close
               ng-click="vm.endQuiz()"
               class="md-warn">
      <span class="ce-menu-button-text">End Quiz</span>
    </md-button>
  </md-list-item>

  <!--<md-button class="md-raised md-primary" style="float:right;"-->
  <!--ng-click="vm.test()">-->
  <!--toastr-->
  <!--</md-button>-->

</md-list>
