<div class="row" ng-repeat="rowComponents in vm.testComponents">

  <div class="col col-33" ng-repeat="c in rowComponents">

    <ce-test-base ng-style="{visibility:c.visibility}"
                  title="c.title"
                  droppable="c.droppable"
                  droppable-id="c.droppableId">

      <ce-card ng-if="c.cardVisibility"
               id={{c.card.id}}
               card-img-url="{{c.card.cardImgUrl}}"
               class="ce-card"
               ce-draggable>
      </ce-card>


    </ce-test-base>
  </div>
</div>

