<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Modify Quiz Information</h1>
  </ion-header-bar>

  <ion-content>


    <form name="quizInfoForm"
          class="quiz-info-form"
          flex="60"
          novalidate>

      <md-whitefram class="md-whiteframe-z1 ce-title-stripe"
                    layout
                    layout-margin
                    layout-align="center center">
        <h4 class="md-subhead">Observer Info</h4>
      </md-whitefram>


      <md-whitefram class="md-whiteframe-z1"
                    layout
                    layout-margin
                    layout-wrap
                    layout-align="center center">

        <div class="list" flex="100">
          <label class="item item-input item-floating-label">
            <span class="input-label">Full Name / Code</span>
            <input type="text"
                   placeholder="Full Name / Code"
                   required
                   name="observerFullNameOrCode"
                   ng-model="quiz.observer.fullNameOrCode">

            <div ng-messages="quizInfoForm.observerFullNameOrCode.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
            </div>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email"
                   placeholder="Email"
                   required
                   name="observerEmail"
                   ng-model="quiz.observer.email">

            <div ng-messages="quizInfoForm.observerEmail.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
              <div ng-message="email" class="form-invalid-text"><span>This should be an email address.</span></div>
            </div>
          </label>
        </div>
      </md-whitefram>


      <md-whitefram class="md-whiteframe-z1 ce-title-stripe"
                    layout
                    layout-margin
                    layout-align="center center">

        <h4 class="md-subhead">Child Info</h4>
      </md-whitefram>


      <md-whitefram class="md-whiteframe-z1"
                    layout
                    layout-margin
                    layout-wrap
                    layout-align="center center">

        <div class="list" flex="100">
          <label class="item item-input item-floating-label">
            <span class="input-label">Full Name / Code</span>
            <input type="text"
                   placeholder="Full Name / Code"
                   required
                   name="childFullNameOrCode"
                   ng-model="quiz.child.fullNameOrCode">

            <div ng-messages="quizInfoForm.childFullNameOrCode.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
            </div>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Institution</span>
            <input type="text"
                   placeholder="Institution"
                   required
                   name="childInstitution"
                   ng-model="quiz.child.institution">

            <div ng-messages="quizInfoForm.childInstitution.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
            </div>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Age</span>
            <input type="text"
                   placeholder="Age"
                   required
                   name="childAge"
                   ng-model="quiz.child.age"
                   ng-pattern="/^\d+$/">

            <div ng-messages="quizInfoForm.childAge.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
              <div ng-message="pattern" class="form-invalid-text"><span>This should be an integer.</span></div>
            </div>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Gender
            </div>
            <select required name="childGender" ng-model="quiz.child.gender">
              <option ng-selected="quiz.child.gender === 'male'">Male</option>
              <option ng-selected="quiz.child.gender === 'female'">Female</option>
            </select>

            <div ng-messages="quizInfoForm.childGender.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
            </div>
          </label>
        </div>
      </md-whitefram>


      <div layout="row"
           layout-align="space-around center">

        <md-button ng-click="closeModalWithNo()"
                   class="md-raised"
                   flex>
          Cancel
        </md-button>

        <md-button ng-click="closeModalWithYes()"
                   class="md-primary md-raised"
                   ng-disabled="quizInfoForm.$invalid"
                   flex>
          Confirm
        </md-button>
      </div>
    </form>


  </ion-content>
</ion-modal-view>
