<ion-view>
  <ion-nav-title>
    <h1 class="title light">Quiz Info</h1>
  </ion-nav-title>

  <ion-content>
    <div layout="row"
         layout-align="center center"
         layout-margin
         layout-wrap>


      <form name="quizInfoForm"
            flex="60"
            novalidate>


        <md-whitefram class="md-whiteframe-z1 ce-title-stripe"
                      layout
                      layout-margin
                      layout-align="center center">
          <h4 class="md-subhead">Observer Info</h4>
        </md-whitefram>


        <md-whitefram class="md-whiteframe-z1"
                      layout
                      layout-margin
                      layout-wrap
                      layout-align="center center">

          <md-input-container flex="100">
            <label>Full Name / Code</label>
            <input required name="observerFullNameOrCode" ng-model="vm.observer.fullNameOrCode">

            <div ng-messages="quizInfoForm.observerFullNameOrCode.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex="100">
            <label>Email</label>
            <input required name="observerEmail" ng-model="vm.observer.email">

            <div ng-messages="quizInfoForm.observerEmail.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required">This is required.</div>
              <div ng-message="email">This should be an email address.</div>
            </div>
          </md-input-container>
        </md-whitefram>


        <md-whitefram class="md-whiteframe-z1 ce-title-stripe"
                      layout
                      layout-margin
                      layout-align="center center">

          <h4 class="md-subhead">Child Info</h4>
        </md-whitefram>


        <md-whitefram class="md-whiteframe-z1"
                      layout
                      layout-margin
                      layout-wrap
                      layout-align="center center">

          <md-input-container flex="100">
            <label>Full Name / Code</label>
            <input required name="childFullNameOrCode" ng-model="vm.child.fullNameOrCode">

            <div ng-messages="quizInfoForm.childFullNameOrCode.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>


          <md-input-container flex="100">
            <label>Institution</label>
            <input required name="childInstitution" ng-model="vm.child.institution">

            <div ng-messages="quizInfoForm.childInstitution.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>


          <md-input-container flex="100">
            <label>Age</label>
            <input required name="childAge" ng-model="vm.child.age" ng-pattern="/^\d+$/">

            <div ng-messages="quizInfoForm.childAge.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">This should be an integer.</div>
            </div>

          </md-input-container>


          <md-input-container flex="100">
            <md-select name="childGender"
                       ng-model="vm.child.gender"
                       placeholder="Gender"
                       required>

              <md-option ng-value="opt"
                         ng-repeat="opt in vm.gender">
                {{ opt }}
              </md-option>
            </md-select>

            <div ng-messages="quizInfoForm.childGender.$error" ng-if="quizInfoForm.$dirty">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </md-whitefram>


        <div layout="row"
             layout-align="space-around center">

          <md-button ui-sref="app.welcome"
                     class="md-raised"
                     flex>
            Back
          </md-button>

          <md-button ng-click="vm.go($event)"
                     ng-disabled="quizInfoForm.$invalid"
                     class="md-primary md-raised"
                     flex>
            Start Quiz
          </md-button>
          <!--<md-button ng-click="vm.go($event)"-->
          <!--class="md-primary md-raised"-->
          <!--flex>-->
          <!--Start Quiz-->
          <!--</md-button>-->
        </div>

      </form>
    </div>
  </ion-content>
</ion-view>
