<ion-view>
  <ion-nav-title>
    <h1 class="title light">Quiz Info</h1>
  </ion-nav-title>

  <ion-content>
    <div layout="row"
         layout-align="center center"
         layout-margin
         layout-wrap>


      <form name="quizInfoForm"
            class="quiz-info-form"
            flex="60"
            novalidate>

        <md-whitefram class="md-whiteframe-z1 ce-title-stripe"
                      layout
                      layout-margin
                      layout-align="center center">
          <h4 class="md-subhead">Observer Info</h4>
        </md-whitefram>


        <md-whitefram class="md-whiteframe-z1"
                      layout
                      layout-margin
                      layout-wrap
                      layout-align="center center">

          <div class="list" flex="100">
            <label class="item item-input item-floating-label">
              <span class="input-label">Full Name / Code</span>
              <input type="text"
                     placeholder="Full Name / Code"
                     required
                     name="observerFullNameOrCode"
                     ng-model="vm.observer.fullNameOrCode">

              <div ng-messages="quizInfoForm.observerFullNameOrCode.$error" ng-if="quizInfoForm.$dirty">
                <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
              </div>
            </label>

            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="email"
                     placeholder="Email"
                     required
                     name="observerEmail"
                     ng-model="vm.observer.email">

              <div ng-messages="quizInfoForm.observerEmail.$error" ng-if="quizInfoForm.$dirty">
                <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
                <div ng-message="email" class="form-invalid-text"><span>This should be an email address.</span></div>
              </div>
            </label>
          </div>
        </md-whitefram>


        <md-whitefram class="md-whiteframe-z1 ce-title-stripe"
                      layout
                      layout-margin
                      layout-align="center center">

          <h4 class="md-subhead">Child Info</h4>
        </md-whitefram>


        <md-whitefram class="md-whiteframe-z1"
                      layout
                      layout-margin
                      layout-wrap
                      layout-align="center center">

          <div class="list" flex="100">
            <label class="item item-input item-floating-label">
              <span class="input-label">Full Name / Code</span>
              <input type="text"
                     placeholder="Full Name / Code"
                     required
                     name="childFullNameOrCode"
                     ng-model="vm.child.fullNameOrCode">

              <div ng-messages="quizInfoForm.childFullNameOrCode.$error" ng-if="quizInfoForm.$dirty">
                <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
              </div>
            </label>

            <label class="item item-input item-floating-label">
              <span class="input-label">Institution</span>
              <input type="text"
                     placeholder="Institution"
                     required
                     name="childInstitution"
                     ng-model="vm.child.institution">

              <div ng-messages="quizInfoForm.childInstitution.$error" ng-if="quizInfoForm.$dirty">
                <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
              </div>
            </label>

            <label class="item item-input item-floating-label">
              <span class="input-label">Age</span>
              <input type="text"
                     placeholder="Age"
                     required
                     name="childAge"
                     ng-model="vm.child.age"
                     ng-pattern="/^\d+$/">

              <div ng-messages="quizInfoForm.childAge.$error" ng-if="quizInfoForm.$dirty">
                <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
                <div ng-message="pattern" class="form-invalid-text"><span>This should be an integer.</span></div>
              </div>
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
                Gender
              </div>
              <select required name="childGender" ng-model="vm.child.gender">
                <option ng-selected="quiz.child.gender === 'male'">Male</option>
                <option ng-selected="quiz.child.gender === 'female'">Female</option>
              </select>

              <div ng-messages="quizInfoForm.childGender.$error" ng-if="quizInfoForm.$dirty">
                <div ng-message="required" class="form-invalid-text"><span>This is required.</span></div>
              </div>
            </label>

          </div>
        </md-whitefram>


        <div layout="row"
             layout-align="space-around center">

          <md-button
            nav-transition="none"
            ui-sref="app.welcome"
            class="md-raised"
            flex>
            Back
          </md-button>

          <md-button
            nav-transition="none"
            ng-click="vm.go($event)"
            ng-disabled="quizInfoForm.$invalid"
            class="md-primary md-raised"
            flex>
            Start Quiz
          </md-button>
          <!--<md-button ng-click="vm.go($event)"-->
          <!--class="md-primary md-raised"-->
          <!--flex>-->
          <!--Start Quiz-->
          <!--</md-button>-->
        </div>

      </form>
    </div>
  </ion-content>
</ion-view>
