<ion-view view-title="Quiz Info">
  <ion-content>

    <div class="row">
      <div class="col">
        <h1>Observer Info</h1>
        <!--adult observer info-->
        <div class="list list-inset">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" ng-model="vm.observer.firstName">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name" ng-model="vm.observer.lastName">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email Address" ng-model="vm.observer.email">
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1>Child Info</h1>
        <!--child under test info-->
        <div class="list list-inset">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" ng-model="vm.child.firstName">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name" ng-model="vm.child.lastName">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Age</span>
            <input type="text" placeholder="Age" ng-model="vm.child.age">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Gender</span>
            <input type="text" placeholder="Gender" ng-model="vm.child.gender">
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-royal" ng-click="vm.submitInfo()">Start</button>
        <button class="button button-energized" ui-sref="app.welcome">Back</button>
      </div>
    </div>

  </ion-content>
</ion-view>
