<ion-content>
  <ion-list>
    <ion-item ng-repeat="cmd in vm.commands"
              ng-style="{'background-color':cmd.bgColor}">
      <ce-question-b-command level="{{vm.level}}"
                             from="cmd.from"
                             to="cmd.to"></ce-question-b-command>
    </ion-item>
  </ion-list>
</ion-content>

<div class="bar bar-footer bar-stable">
  <div class="button button-positive"
       ng-click="vm.addCommand()">
    Add
  </div>
  <div class="button button-energized"
       ng-click="vm.deleteLastCommand()">
    Delete Last
  </div>

  <div class="button button-energized"
       ng-click="vm.runCommands()">
    Run Commands
  </div>

  <!--<div class="button button-energized"-->
       <!--ng-click="vm.reload()">-->
    <!--Reload-->
  <!--</div>-->
</div>
