<md-whiteframe class="md-whiteframe-z1"
               ng-style="{'background-color':vm.bgColor}"
               flex
               layout="row"
               layout-align="space-around center">

  <!--<label class="item item-input item-select">-->
  <!--<div class="input-label">-->
  <!--From Position-->
  <!--</div>-->
  <!--<select ng-model="vm.from"-->
  <!--ng-options="pos as pos for pos in vm.positions"-->
  <!--ng-change="vm.updateFrom()">-->
  <!--</select>-->
  <!--</label>-->


  <!--<label class="item item-input item-select">-->
  <!--<div class="input-label">-->
  <!--To Position-->
  <!--</div>-->
  <!--<select ng-model="vm.to"-->
  <!--ng-options="pos as pos for pos in vm.positions"-->
  <!--ng-change="vm.updateTo()">-->
  <!--</select>-->
  <!--</label>-->

  <div>From</div>
  <md-select ng-model="vm.from" ng-change="vm.updateFrom()">

    <md-option ng-value="opt"
               ng-repeat="opt in vm.positions">
      {{opt}}
    </md-option>
  </md-select>

  <Div>To</Div>
  <md-select ng-model="vm.to" ng-change="vm.updateTo()">

    <md-option ng-value="opt"
               ng-repeat="opt in vm.positions">
      {{opt}}
    </md-option>
  </md-select>

</md-whiteframe>

