<md-whiteframe class="md-whiteframe-z1"
               ng-style="{'background-color':vm.bgColor}"
               flex
               layout="row"
               layout-align="space-around center">

  <!-- segment of From division in the front of moving command -->
  <!-- <div>From</div>
      <md-select ng-model="vm.from" ng-change="vm.updateFrom()">

          <md-option ng-value="opt"
                     ng-repeat="opt in vm.positions">
            {{opt}}
          </md-option>
      </md-select> -->

  <!-- segment of To division at the end of moving command -->
  <!-- <Div>To</Div>
      <md-select ng-model="vm.to" ng-change="vm.updateTo()">

          <md-option ng-value="opt"
                     ng-repeat="opt in vm.positions">
            {{opt}}
          </md-option>
      </md-select> -->

      <div class="wrap-command-div-container">
        <table>
          <thead>
            <tr ionic-header-list-command-slab>
            </tr>
          </thead>
          <tbody>
            <ion-item>
                <tr class="command-tr-repeated-container" ng-repeat="dib in dibs" repead-create-commands-display dibhere = "dib"></tr>
            </ion-item>
          </tbody>
        </table>
      </div>

  <!-- <button class="button button-positive"><i class="ion-plus-circled"></i></button> -->
   <!-- id="level-three-blue-command-add-button" -->

</md-whiteframe>